node_modules/

.env
*.env
env
.env.local
.env.test
backend/drivingtracker-84d58-firebase-adminsdk-fbsvc-5b11b15155.json

**/.yarn/*
.pnp.*

/coverage

**/.next/
**/out/

/build/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.tsbuildinfo

backend/dist/

.DS_Store

.idea/
*.iml
.vscode/

local.properties
.gradle/
build/